@font-face {
  font-family: 'HeadingCursive';
  src: url('../assets/fonts/LaBelleAurore-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'HeadingReg';
  src: url('../assets/fonts/JuliusSansOne-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Body';
  src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'BodyBold';
  src: url('../assets/fonts/OpenSans-Bold.woff2') format('woff2');
}
